body {
    background: lightblue;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    margin-top: 100px;
}

h1 {
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 50px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.img_logo {
    width: 30px;
}